[user]
	name = Jonathan Brink
	email = jonathandavidbrink@gmail.com
[alias]
    l = "!git log --graph --pretty='tformat:%C(yellow)%h{%C(green)%ar{%C(bold blue)%an{%C(red)%d%C(reset) %s' $* | column -t -s '{' | less -FXRS"
    l5 = "!git log -5 --graph --pretty='tformat:%C(yellow)%h{%C(green)%ar{%C(bold blue)%an{%C(red)%d%C(reset) %s' $* | column -t -s '{'"
    lo1 = "!git log --oneline -1"
    lo2 = "!git log --oneline -2"
    lo3 = "!git log --oneline -3"
    lo4 = "!git log --oneline -4"
    lo5 = "!git log --oneline -5"
    lo6 = "!git log --oneline -6"
    lo7 = "!git log --oneline -7"
    lo8 = "!git log --oneline -8"
    lo9 = "!git log --oneline -9"
    lg = log --graph --pretty=format:'%Cred%h%Creset %an -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    springcleaning = for-each-ref --sort=-committerdate --format='%(refname:short) %(committerdate:short)'
    co = checkout
    br = branch
    ci = commit
    st = status
    s = status --short
    d = diff
    dc = diff --cached
    wip = !git add . && git commit -m "wip"
    wipa = !git add . && git commit -m "wip" --amend
    master = !git stash -u && git checkout master && git fetch && git reset --hard origin/master && echo "done"
    mend = !git add . && git commit --amend --reuse-message=HEAD
    mendd = !git mend && git review --draft
    mendr = !git mend && git review
    revd = "!f() \
        { \
            case $1 in \
                ''|*[!0-9]*) git gerr-look-go $1 ;; \
                *) git review -d $1 ;; \
            esac \
        };f"
    revl = !git review -l

    gerr-look = !gerr-look $1
    gerr-look-go = "!f() { git review -d `git gerr-look $1`; };f"

[gitreview]
    remote = origin
